SERVER_ID="{{ cf_probe_server_id }}"
SECRET="{{ cf_probe_secret }}"
WORKER_URL="{{ cf_probe_worker_url }}"
COLLECT_INTERVAL="{{ cf_probe_collect_interval }}"
REPORT_INTERVAL="{{ cf_probe_report_interval }}"
CT_NODE="{{ cf_probe_ct_node }}"
CU_NODE="{{ cf_probe_cu_node }}"
CM_NODE="{{ cf_probe_cm_node }}"
BD_NODE="{{ cf_probe_bd_node }}"
INTERFACE="{{ cf_probe_interface }}"
RESET_DAY="{{ cf_probe_reset_day }}"
CONNECTION_MODE="{{ cf_probe_connection_mode }}"
PING_MODE="{{ cf_probe_ping_mode }}"
AUTO_UPDATE="{{ cf_probe_auto_update }}"
UPDATE_PROXY=""
CONFIG_MD5=""
