<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>{{ rustic_darwin_launchd_cleanup_label }}</string>
    <key>ProgramArguments</key>
    <array>
        <string>{{ ansible_python_interpreter | default('/usr/bin/python3') }}</string>
        <string>{{ rustic_darwin_support_dir }}/config/rustic_backup.py</string>
        <string>cleanup</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Minute</key>
        <integer>{{ rustic_darwin_cleanup_timer_minute | default(45) }}</integer>
    </dict>
    <key>EnvironmentVariables</key>
    <dict>
        <key>RUSTIC_USE_PROFILE</key>
        <string>{{ rustic_darwin_config_dir }}/rustic.toml</string>
        <key>RUSTIC_ENV_FILE</key>
        <string>{{ rustic_darwin_config_dir }}/backup.env</string>
        <key>RUSTIC_BIN_PATH</key>
        <string>{{ rustic_darwin_bin_path | default(rustic_bin_path) }}</string>
        <key>RCLONE_CONFIG</key>
        <string>{{ rustic_darwin_rclone_config_path | default(rustic_rclone_config_path) }}</string>
        <key>PATH</key>
        <string>{{ ansible_env.PATH }}:/opt/homebrew/bin:/usr/local/bin</string>
        <key>HOME</key>
        <string>{{ ansible_env.HOME }}</string>
        <key>RUSTIC_LOG_FILE</key>
        <string>{{ rustic_darwin_log_dir }}/rustic_backup.log</string>
    </dict>
    <key>StandardOutPath</key>
    <string>{{ rustic_darwin_support_dir }}/logs/rustic-cleanup.log</string>
    <key>StandardErrorPath</key>
    <string>{{ rustic_darwin_support_dir }}/logs/rustic-cleanup.log</string>
    <key>RunAtLoad</key>
    <false/>
    <key>WorkingDirectory</key>
    <string>{{ rustic_darwin_support_dir }}/config</string>
</dict>
</plist>
