# Health Checks Environment Variables
REDIS_HOST={{ health_checks_redis_host | default('localhost') }}
REDIS_PORT={{ health_checks_redis_port | default(6379) }}
REDISCLI_AUTH={{ redis_db_admin_password }}
NOTIFY1_API_KEY={{ health_checks_notify1_api_key }}
NOTIFY2_API_KEY={{ health_checks_notify2_api_key }}
SEND_OK_HEARTBEATS={{ health_checks_send_ok_heartbeats | default(false) | lower }}
HEARTBEAT_INTERVAL_MINUTES={{ health_checks_heartbeat_interval | default(360) }}
ALERT_WINDOW_HOURS={{ health_checks_alert_window_hours | default('8-12,14-18') }}
THRESHOLDS_JSON='{"disk_usage_percent": {{ health_checks_disk_critical_threshold }}, "memory_usage_percent": {{ health_checks_memory_critical_threshold }}, "usage_percent": {{ health_checks_cpu_critical_threshold }}, "steal_percent": {{ health_checks_cpu_steal_threshold }}, "await_ms": {{ health_checks_io_await_critical_threshold }}, "swap_usage_percent": {{ health_checks_swap_critical_threshold }}}'
RUSTIC_PASSWORD={{ vault_rustic_password }}
RCLONE_CONFIG={{ rclone_config_path | default('/root/.config/rclone/rclone.conf') }}
